#covid-card-container div {
  background-color: rgb(211, 168, 219);
  width: 20rem;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 2rem;
  border-color: rgb(83, 76, 12);
  border-width: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#covid-card-container div:hover {
  opacity: 0.7;
}

#covid-card-container div li {
  color: rgb(90, 48, 62);
  list-style: none;
}
body {
  background-image: url("https://i.imgur.com/OQBghw1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: inherit;
}
h1 {
  font-family: fantasy;
  color: rgb(90, 48, 62);
  text-align: center;
  text-rendering: auto;
  font-size: 50px;
  padding-top: 200px;
}

#input-div {
  display: flex;
  justify-content: center;
}
